@charset "UTF-8";
/* CSS Document */




.header .ui-input-search
{
	float:left;
}

.header a{
	float:left;
	padding:0;
	margin:0;
}

#currenttitle{
	position:absolute; z-index:1;
	left:0px;
	width:40px;
	height:35px;
}
#wrapper {
	position:absolute; z-index:1;
	top:500px;
	left:-9999px;
	width:100%;
	background:#aaa;
	overflow:auto;
	height:auto;
	opacity: 0.8;
  	filter:  alpha(opacity=80);
	border:1px;
	
	box-shadow: 10px 10px 10px #aaa inset;
}
#wrapper2 {
	top:120px; bottom:5px; left:-9999px;
	width:100%;
	overflow:auto;
	padding:5px;
}
#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
#scroller2 {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	min-height:1000px;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding : 10px;
	min-height: 50px;
	height:auto;
	overflow:hidden;
	line-height:18px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
	margin:10px;
	border-radius: 10px 10px;
}

#myFrame {
	position:absolute;
	top:0; left:0;
}



/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


.ui-icon {
    max-height: 50px;
    max-width: 50px;
    top: 50%;
    margin-top: -25px;
}

.gallery{
	list-style:none;
	
}
.gallery li{
	float:left;
	width:200px;
	height:200px;
	margin:5px;
	overflow:hidden;
	background-color:#000;
	
}
.gallery2{
	list-style:none;
	margin-left:0px;
}

.contefoto{
	width:200px;
	height:200px;
	padding:5px;
	display: table-cell;
    text-align: center;
    vertical-align: middle
}